#dashes{

    border-bottom: blue;
    width: 20px;
    border-style: groove;
}

h1{

    text-shadow: 2px 2px black;
}

body{
    background-color: lightblue;
}

#letterList{

display: flex;
list-style: none;
justify-content: space-evenly;


}

H1{

    color: cornflowerblue;
    display: flex;
    justify-content: center;
}

#answer{

    display: flex;
    justify-content: center;
}

button{
    background-color: silver;
}

#lives{

    margin-left: 12%;
    color: cornflowerblue;
    text-shadow: 3px 1px white;
}